fastapi==0.120.3
uvicorn==0.38.0
langchain==1.0.3
langchain-core==1.0.2
langsmith==0.4.38
langgraph==1.0.2
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
google-generativeai==0.8.5
python-dotenv==1.2.1
pydantic==2.12.3
requests==2.32.5